= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-vertical form-signin' }, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes,boolean: :vertical_boolean}) do |f|
  %h2.form-signin-heading Sign in
  .login-wrap
    .user-login-info
      #gravator
        = image_tag('sigidiGravator.png', id: 'public-pic', size: '114' )
      = f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email'
      = f.input :password, required: false , label: false, placeholder: 'Password'
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    = f.button :submit, "Sign in", class: 'btn btn-lg btn-login btn-block'
  = flash_messages layout_flash: false
  .shared-links
    = render "users/shared/links"
