@import "bootstrap_overrides";



html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*login page*/
.login-body {
  background: $brand-inverse;
  background-size:cover;
  width:100%;
  height:100%;

  .form-signin {
    max-width:330px;
    margin:100px auto;
    background: $brand-white;
    border-radius: $border-radius-large;
    -webkit-border-radius: $border-radius-large;

  .form-signin-heading {
    margin:0;
    padding:35px 0 20px 0;
    text-align:center;
    border-radius:5px 5px 0 0;
    color: $brand-inverse;
    font-size: $font-size-h1;
    font-weight:300;
    -webkit-border-radius: 5px 5px 0 0;

   }


  .checkbox {
    margin-bottom:14px;
    color: $gray;
    font-weight:300;
    font-size: $font-size-base;
  }

  .form-control {
    position:relative;
    font-size: $font-size-large;
    height:auto;
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    &:focus {
      z-index: 2;
      }
  }

  input {
    &[type="email"], &[type="text"],  &[type="password"] {
      margin-bottom: 15px;
      border-radius: $border-radius-large;
      -webkit-border-radius: $border-radius-large;
      border: 1px solid $gray-lightest;
      box-shadow: none;
      font-size: $font-size-base;
      }
  }


    .btn-login {
      background: $some_blue;
      color: $brand-white;
      text-transform:uppercase;
      font-weight:300;
      font-family:'Open Sans',sans-serif;
      margin:20px auto 10px auto;
    }

    p {
      text-align:left;
      font-size: $font-size-small;
      font-weight:300;
    }
    a {
      color: $some_blue;
      &:hover {
        color: $brand-info;
        text-decoration:none;
      }
    }
  }

  .login-wrap {
    padding: 20px;
    position: relative;
  }

  .user-login-info {
    margin: 0px 2px 20px -20px;
    padding: 0px 5px 5px 20px;
    .form-control:last-child {
      margin-bottom: 0 !important;
    }

  #gravator{
      height:100px;
      width:100px;
      margin:0 auto 30px auto;
      -moz-border-radius: 100px;
      -webkit-border-radius:100px;
      border-radius:100px;

    #public-pic{
      -moz-border-radius: 100px;
      -webkit-border-radius:100px;
      border-radius:100px;
      height:114px;
      width:114px;
    }
  }

  }

  .shared-links {
    margin-top: 15px;
    position: relative;
    float: right;
  }

}
