!!!
%html{itemscope: true, itemtype: 'http://schema.org'}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag 'application', media: 'all'
    /[if lt IE 9]
      %script{:src => "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png', rel: 'shortcut icon'
    = javascript_include_tag 'application'
    %body{:class => "#{controller_name} #{action_name} login-body"}
    .container
      = flash_messages if show_layout_flash?
      = yield